@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #1651a4;
  --color-accent-blue: #eff6ff;
  --color-background-light: #f8fafc;
  --color-background-dark: #101922;
  --color-sidebar-bg: #f8fafc;
  --font-display: "Manrope", sans-serif;
  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-full: 9999px;
}
